<div ngController="loginController">
    <div align="center"><img src="images/iso.png" class="img-responsive" alt="Responsive image"/></div>
    <center><h1>#MyApp#</h1></center><br/>
    <div class="container">
         <div class="row" ng-if="ERROR.length > 0">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" ng-show="ERROR.length > 0" >
                <div class="alert alert-danger" ng-repeat="mensaje in ERROR" >
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{mensaje}}</strong>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
                <form class="form-signin" role="form" name="signForm">
                    <div class="form-group" >
                        <input ng-model="user.email" type="email" name="email" class="form-control input-underline" placeholder="Email address" required="" autofocus="">
                        <p ng-show="signForm.email.$invalid">Introduzca un correo válido.</p>
                    </div>
                    <div class="form-group" >
                        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <button ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>


                        <br>

                        <a class="btn btn-block btn-social btn-google" ng-click="SignInGoogle($event)">
                        <span class="fa fa-google"></span> Iniciar Sesion con Google
                        </a>

                         <a class="btn btn-block btn-social btn-facebook" ng-click="facebook($event)">
                         <span class="fa fa-facebook"></span> Iniciar Sesion con Facebook
                         </a>

                         <a class="btn btn-block btn-social btn-github" ng-click="SignInGit($event)">
                         <span class="fa fa-github"></span> Iniciar Sesion con Github
                         </a>




                </form>
            </div>
        </div>
    </div>
</div>
